.container {
  max-width: 44rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.mainContainer {
  max-width: 44rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.flexContainer, .flexCenterContainer {
  display: flex;
  flex-direction: column;
}

.flexCenterContainer {
  align-items: center;
}

.rowContainer {
  width: 100%;
  padding: 0 1rem;
  margin: 0 0 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.rowContainer h1 {
  padding: 0 0.5rem;
  font-size: 2rem;
}

.rowContainer h1:hover {
  transition: 0.2s;
  background-color: #ff9400;
}

.largeCenterHeader {
  font-size: 7rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  width: 100%;
  margin: 1rem auto;
  text-align: center;
}

.largeCenterHeader:hover {
  /* transition: .5s;
  background-image: url("../public/images/TitleBacker.gif");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; */
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  width: 100%;
  padding-top: 25vh;
  height: 75vh;
  min-height: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.downArrow {
  margin: 5vh 0 0;
  position: sticky;
  top: 2vh;
  float: right;
  height: 3rem;
  animation: blink 1s cubic-bezier(.5, 0, 1, 1) infinite alternate;
} @keyframes blink { to { filter: invert(12%); } }

.downArrow:hover {
  transition: 0.2s;
  animation: non;
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(10deg) brightness(118%) contrast(119%);
}

.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introText {
  font-size: 1.5rem;
  width: 100%;
}

.infoContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 3rem 0;
}

.infoContainer div {
  width: 100%;
}

.infoContainer div:first-child {
  margin-right: 5%;
}

.infoContainer h3 {
  text-transform: uppercase;
  font-family: 'OpenSans-Bold', sans-serif;
  font-weight: lighter;
  margin-bottom: 0;
}

.outlineContainer {
  border-right: 0.1rem solid #fff;
  border-top: 0.1rem solid #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.outlineContainer p {
  margin: 0 0 0.5rem;
}

.outlineContainer p:last-child {
  margin: 0 0 -0.3rem;
}

.importantText {
  color: #ff9400;
}
