$x-small: 540px;

.descbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 430px;
    min-height: 340px;
    border: 1px solid var(--main-grey);
    border-radius: 10px;
    margin: 35px 0.5rem;

    .descImage {
        width: max-content;
        height: auto;
        transform: translate(0, -50%);
    }
}

.descboxwrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex: 0 0 430px;
}

@media screen and (max-width: $x-small) {
    .descboxwrapper { flex: 0 0 320px; }
    .descbox { width: 320px; }
}