// hacky fix for varible opacity
$main-focus-back: #20282B;

.navbar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.5rem 0;

    h1, h2 {
        text-transform: uppercase;
        margin: 0 2rem;
    }

    h1 {
        font-weight: bolder;
        color: var(--main-highlight);
    }
    .links {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 1rem;
        margin: auto 0;

        h2 {
            font-weight: 500;
            color: var(--main-grey);
        }
    }

    .linksMobile {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        h2 {
            margin-bottom: 1.5rem;
            font-weight: 500;
            color: var(--main-grey);
        }

        h2:first-child {
            margin-top: 1.5rem;
        }
    }

    .background {
        background-color: rgba($main-focus-back, 0.99);
    }

    .hamClosed, .hamOpen {
        height: 30px;
        width: 30px;
        margin: 1.5rem 0;
        margin-right: 2rem;
        background: no-repeat center;
        z-index: 1;
    }

    .hamClosed {
        background-image: url('../../public/images/HamburgerClosed.svg');
    }

    .hamOpen {
        background-image: url('../../public/images/HamburgerOpen.svg');
    }
}